<!DOCTYPE html>
<html lang="en">
<head>
  	<title>About</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<br>
		<div class="panel panel-default">
            <div class="panel-heading"><h3><b>About us</b></h3></div>
        <div class="panel-body">
	    <h5 style="font-size:18px" "font-family:TimesNewRoman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The decade of  80's had seen a phenomenal growth in the field of computer science and engineering in India.In tune with the global development,Osmania University also initiated a post graduate program in CSE in the year 1981 when thw U.G.C. identified the university for its Manpower Development Programme.This programme was being conducted at the university computer centre.<br>
	    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Department of Computer Science and Engineering came into being in the year 1988. Since then it is offering most sought after courses in the field of Computer Science and Engineering, both at undergraduate and graduate levels. The department has well qualified staff, Infrastructure and state-of- the- art equipment.
        Apart from regular academic work, the department is actively involved in industrial training, consultancy, research and other professional activities. The department has close interaction with software development firms and R&D establishments.</h5>
        <h3><b>Vision:</b></h3>
        <h5 style="font-size: 18px" "font-family:TimesNewRoman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To be a leading academic department in the area of computer science and information technology with learning and research processes of global standards that contribute to innovations in various scientific disciplines and societal needs.</h5>
        <h3><b>Mission:</b></h3>
        <h5 style="font-size: 18px" "font-family:TimesNewRoman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To produce highly competent computer science & engineeringprofessionals capable of  facing the challenges of globalized knowledge society.
        To enhance the technical knowledge, research aptitude to promote the entrepreneurial talents and inculcate the computational thinking in various scientific disciplines.
        <hr class="hidden-sm hidden-md hidden-lg"></h5>
</div>

</body>
</html>