<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Achievements</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<br>
		<div class="panel panel-default">
            <div class="panel-heading"><h1><b><center>ACHIEVEMENTS</center></b></h1></div>
      <div class="panel-body">
        <ul>
          <li><b>Dr. B.R. Ambedkar Gold Medal:</b> To be awarded to the outgoing top Rank student of the B.E. topper among all the branches of the Engg. based on the percentage of B.E. 1st year to B.E. 4th year if percentages are equal, then 4th year topper again if equal, then 3rd year topper etc.<br><i>-Ms.Nunna Apoorva [100513733011]</i></li><br>

          <li><b>Biomedical Instrumentation Centre Gold Medal:</b> To be awarded every year to the 1st Rank student of B.E. (Bio Medical Engineering).<br><i>-Ms.Porandla Susmitha [100513731083]</i></li><br>

          <li><b>Sri K. Ramaswamy Gold Medal:</b> To be awarded every year to the 1st Rank student of B.E. (Civil Engineering).<br><i>-Ms.P Alekhya Reddy [100513732005]</i></li><br>

          <li><b>MC Consulting Engineer Pvt. Ltd. Gold Medal:</b> To be awarded to student of B.E. Civil Engineering course 4/4 Year student for Best outgoing.<br><i>-Ms.P Alekhya Reddy [100513732005]</i></li><br>

          <li><b>Prof. Waikuntham Gold Medal:</b> To be awarded in memory of his mother Smt.N.Rajya Lakshmi W/o. Late Sri.N.Nagaiah to the outgoing student scoring the highest aggregate marks in all Civil Engg. courses in B.E. Curriculum combined.<br><i>-Ms.P Alekhya Reddy [100513732005]</i></li><br>

          <li><b>Mr. Bondugula Narsimha Reddy Gold Medal:</b> To be awarded to top student among the outgoing top to student of B.E. (Civil Engg.) whose parental income is least.<br><i>-Mr.Eitneni Santhosh Kumar [100513732040]</i></li><br>

          <li><b>OUCE, CSE Alumni Gold Medal:</b> To be awarded every year to the 1st Rank student of B.E. (Computer Science & Engineering).<br><i>-Ms.Nunna Apoorva [100513733011]</i></li><br>

          <li><b>Elico D V S Raju Gold Medal:</b> To be awarded every year to the 1st Rank student of B.E. (Electronics & Communication Engineering).University College of Engineering O.U Hand Book 2018-2019<br><i>-Ms.Moguluri Venkatasai Nagalakshmi [100513735050]</i></li><br>

          <li><b>1978-79 Electrical Engineering Batch Alumni Gold Medal:</b> To be awarded every year to the 1st Rank student of B.E. (Electrical & Electronics Engineering).<br><i>-Ms.Gorti Naga Sai Lakshmi Aparna [100513734028]</i></li><br>

          <li><b>Sri Neravetla Damodar Reddy Gold Medal:</b> To be awarded every year to the 1st Rank student of B.E. (Electrical & Electronics Engineering).<br><i>-Ms.Gorti Naga Sai Lakshmi Aparna [100513734028]</i></li><br>

          <li><b>Sri. Panthulu Pandari Gold Medal:</b> To be awarded to topper among 10 students B.E. (E.E.E.) whose parental income is least.<br><i>-Mr.Pocham Prudhviraj [100513734036]</i></li><br>

          <li><b>Prof. Abid Ali Gold Medal:</b> To be awarded every year to the 1st Rank student of B.E. (Mechanical Engineering).<br>Ms. G Vidya [100513736058]<br><i>-Ms.Palle Sushma [100513736053]</i></li><br>

          <li><b>Tahsildar Late Sri Sreepathi Parvath Reddy memorial Gold Medal:</b> To be awarded every year to the Top Ranking Girl Student in B.E. (Mechanical Engineering).<br><i>-Ms.G Vidya [100513736058]<br>-Ms.Palle Sushma [100513736053]</i></li><br>

          <li><b>Smt. Shaikfathimabee Gold Medal:</b> To be awarded every year to the outgoing B.E. Mechanical Engg. Muslim Minority Student among top 10 Rankers, if not available any other minority student in the list, and if none of the above are available, than to outgoing 1st Ranker.<br><i>-Ms.Sara Imtiazuddin [100513736013]</i></li><br>

          <li><b>Smt. Pendyala Vijaya Srinivas W/o. (Late) Sri. P. Srinivas Rao Gold Medal:</b> To be awarded to the student scoring the highest aggregate marks in all “Mathematics” courses in the B.E. Curriculum combined every year.<br><i>-Mr.Pocham Prudhviraj [100513734036]<br>-Ms.Sivvannagari Sowmya [100513735043]</i></li><br>

          <li><b>Late Sri Pendyala Srinivas Gold Medal:</b> To be awarded to the meritorious student scoring the highest marks in “Data Structures” its equivalence core course in the B.E. (CSE) curriculum every year whose family income is least.<br><i>-Mr.V.Aghamarsh [100516733040]</i></li><br>

          <li><b>Smt.Late.Lilabai Desai Gold Medal:</b> To be awarded to a Master Degree student presently the “Best Thesis in Structural Concrete Construction” of Civil Engineering.<br><i>-Mr.Md.Khader Vali [100514741120]<br>-University College of Engineering O.U Hand</i></li><br>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>