{% load static %}

<html lang="en">
<head>
    <title>AttendanceList</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <br>
    <div class="panel panel-default">
        <div class="panel-heading"><h1><b><center>ATTENDANCE LIST</center></b></h1></b></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <h5 style="font-size:18px" "font-family:TimesNewRoman">
                <ul>
                <li><h3><b>First Year</b></h3>
                  <ul>
                    <li><h4>1st Semester</h4>
                      <ul>
                        <li><a href="{% static 'Attendance/Math Attendance(2-2).pdf' %}">Math</a></li><br>
                        <li><a href="#">some link</a></li>
                      </ul>
                    </li>
                    <li><h4>2nd Semester</h4>
                      <ul>
                        <li><a href="#.pdf">some link</a></li><br>
                        <li><a href="#.pdf">some link</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><h3><b>Second Year</b></h3>
                  <ul>
                    <li><h4>1st Semester</h4>
                      <ul>
                        <li><a href="#.pdf">some link</a></li><br>
                        <li><a href="#.pdf">some link</a></li>
                      </ul>
                    </li>
                    <li><h4>2nd Semester</h4>
                      <ul>
                        <li><a href="{% static 'Attendance\Attendance.pdf' %}">Math attendance</a></li><br>
                        <li><a href="#.pdf">some link</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><h3><b>Third Year</b></h3>
                  <ul>
                    <li><h4>1st Semester</h4>
                      <ul>
                        <li><a href="#.pdf">some link</a></li><br>
                        <li><a href="#.pdf">some link</a></li>
                      </ul>
                    </li>
                    <li><h4>2nd Semester</h4>
                      <ul>
                        <li><a href="#.pdf">some link</a></li><br>
                        <li><a href="#.pdf">some link</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><h3><b>Fourth Year</b></h3>
                  <ul>
                    <li><h4>1st Semester</h4>
                      <ul>
                        <li><a href="#.pdf">some link</a></li><br>
                        <li><a href="#.pdf">some link</a></li>
                      </ul>
                    </li>
                    <li><h4>2nd Semester</h4>
                      <ul>
                        <li><a href="#.pdf">1st Semester</a></li><br>
                        <li><a href="#.pdf">2nd Semester</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
              </h5>
            </div>
            <br><br><br>
            <div class="col-sm-8">
              <img src="{% static 'Images/Attendance_img.png' %}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>