<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Contact us</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<br>
		<div class="panel panel-default">
            <div class="panel-heading"><h3><b>Contact us</b></h3></div>
        <div class="panel-body">
          <h5 style="font-size:18px" "font-family:TimesNewRoman">
              <center>
                UNIVERSITY COLLEGE OF ENGINEERING(Autonomous)<br>
                <br><b>ADDRESS:</b>Osmania University,Hyderabad-500 007,Telangana State,India<br>
                <br><b><h4 style="color:red">Website Incharges:</h4></b><br>
                B.Akanksha-<a href="mailto:akankshaboora0203@gmail.com">akankshaboora0203@gmail.com </a>-9949942226<br><br>
                A.Manisha -<a href="mailto:manisha15457@gmail.com">manisha15457@gmail.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>-9553775361<br><br>
                Y.Dharani -<a href="mailto:cheeku.y1999@gmail.com">cheeku.y1999@gmail.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>-7396428550<br><br>
                A.Ruchitha-<a href="mailto:ruchithaamura15@gmail.com">ruchithaamura@gmail.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>-9542551201<br><br>
                BE 3rd year students,UCEOU.<br>
              </center>
        </h5>
        </div>
      </div>
    </div>
  </div>
</body>
</html>