{% load static %}

<html lang="en">
<head>
  	<title>Faculty details</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
 		<div class="wrapper" id="top_div"><br>
 			<div class="panel panel-default">
				<div class="panel-heading">
                    <h2><b><center>FACULTY DETAILS</center></b></h2>
				</div>
				<div class="panel-body">
                    <h3><b><center>Head of the Department</center></b></h3>
                    <center><img src="{% static 'Faculty photos\K.Shyamala.jpg' %}"></center>
                        <h4><center>Prof.k.Shyamala</center></h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
                    <h3><b>Professors:</b></h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\Premchand.jpg' %}"></center>
							<a href="{% static 'Faculty details\premchand (1).html' %}">
                                <h5><center>Prof.P.Premchand</center></h5></a>
						</div>
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\Ramachandram.jpg' %}"></center>
							<a href="{% static 'Faculty details\Ramachandram.htm' %}">
                                <h5><center>Prof.S.Ramanchandram</center></h5></a>
						</div>
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\Ramkumar.jpg' %}"></center>
                            <h5><center>Prof.P.Ramkumar</center></h5>
						</div>
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\K.Shyamala.jpg' %}"></center>
							<a href="{% static 'Faculty details\Shyamala.pdf' %}">
                                <h5><center>Prof.K.Shyamala</center></h5></a>
						</div>
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\PV Sudha.jpg' %}"></center>
							<a href="{% static 'Faculty details\sudha.html' %}">
                                <h5><center>Prof.P.V.Sudha</center></h5></a>
						</div><br>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
                    <h3><b>Associate professors:</b></h3>
		    	</div>
		    	<div class="panel-body">
					<div class="row1">
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\Venkat Das.jpg' %}"></center>
							<a href="{% static 'Faculty details\venkatdass.html' %}">
                                <h5><center>Mr.M.Venkat Das</center></h5></a>
						</div>
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\Rambabu.jpg' %}"></center>
							<a href="{% static 'Faculty details\rambabu.html' %}">
                                <h5><center>Mr.S.Rambabu</center></h5></a>
						</div>
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\Srinivasa Rao.jpg' %}"></center>
							<a href="{% static 'Faculty details\ssr.html' %}">
                                <h5><center>Mr.S.Srinivasa Rao</center></h5></a>
						</div>
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\L.K.Suresh Kumar.jpg' %}"></center>
							<a href="{% static 'Faculty details\lokhande profile.pdf' %}">
                                <h5><center>Mr.L.K.Suresh Kumar</center></h5></a>
						</div><br><br><br><br><br><br><br><br>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
                    <h3><b>Assistant professors:</b></h3>
				</div>
				<div class="panel-body">
					<div class="row2">
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\V.B.Narsimha.jpg' %}"></center>
							<a href="{% static 'Faculty details\Dr.V.B.Narsimha.pdf' %}">
                                <h5><center>Dr.V.B.Narsimha<?</h5></center></h5></a>
						</div>
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\Sujatha.jpg' %}"></center>
							<a href="{% static 'Faculty details\BS.pdf' %}">
                                <h5><center>Dr.B.Sujatha</center></h5></a>
						</div>
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\Hameed.jpg' %}"></center>
							<!--a href="C:\Users\ADMIN\Desktop\MINI PROJECT\Faculty details\ssr.htm"-->
                            <h5><center>Dr.M.A.Hameed</center></h5>
						</div>
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\Pragnavi.jpg' %}"></center>
							<a href="{% static 'Faculty details\Pragnavi.pdf' %}">
                                <h5><center>Mrs.E.Pragnavi</center></h5></a>
						</div>
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\Sukanya.jpg' %}"></center>
							<a href="{% static 'Faculty details\sukhanya.pdf' %}">
                                <h5><center>Mrs.V.Sukanya</center></h5></a>
						</div>
					</div><br><br><br><br><br><br><br><br>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
                    <h3><b>Assistant professors(Contract):</b></h3>
				</div>
				<div class="panel-body">
					<div class="row3">
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\Srinivasa Reddy.jpg' %}"></center>
							<!--a href="C:\Users\ADMIN\Desktop\MINI PROJECT\Faculty details\Dr.V.B.Narsimha.pdf"-->
                            <h5><center>Mr.M.K.Srinivasa Reddy</center></h5>
						</div>
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\Pranitha.jpg' %}"></center>
							<!--a href="C:\Users\ADMIN\Desktop\MINI PROJECT\Faculty details\Sujatha.pdf"-->
                            <h5><center>Dr.K.Pranitha Kumari</center></h5>
						</div>
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\Govardhan Rao.jpg' %}"></center>
							<!--a href="C:\Users\ADMIN\Desktop\MINI PROJECT\Faculty details\ssr.html"-->
                            <h5><center>Mr.I.Govardana Rao</center></h5>
						</div>
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\Gayathri.jpg' %}"></center>
							<!--a href="C:\Users\ADMIN\Desktop\MINI PROJECT\Faculty details\Pragnavi.pdf"-->
                            <h5><center>Mrs.A.Gayathri</center></h5>
						</div>
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\Radha Rani.jpg' %}"></center>
							<a href="{% static 'Faculty details\RadhaMCAbiodata.pdf' %}">
                                <h5><center>Mrs.S.Radha Rani</center></h5></a>
						</div>
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\Narendar.jpg' %}"></center>
							<a href="{% static 'Faculty details\MNR_Resume.pdf' %}">
                                <h5><center>Mr.M.Narender Reddy</center></h5></a><br>
						</div>
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\K.Satyanarayana.jpg' %}"></center>
							<a href="{% static 'Faculty details\Faculty_KSN.pdf' %}">
                                <h5><center>Mr.K.Satya Narayana</center></h5></a>
						</div>
						<div class="col-sm-2">
                            <center><img src="{% static 'Faculty photos\Vani.jpg' %}"></center>
							<!--a href="C:\Users\ADMIN\Desktop\MINI PROJECT\Faculty details\ssr.html"-->
                            <h5><center>Mrs.C.Vani</center></h5>
						</div>
						<div class="col-sm-2">
							<!--center><img src="C:\Users\ADMIN\Desktop\MINI PROJECT\Faculty photos\Jaya.jpg">
							<a href="C:\Users\ADMIN\Desktop\MINI PROJECT\Faculty details\Pragnavi.pdf"-->
                                <h5><center>Mrs.K.Jaya</center></h5>
						</div>
						<div class="col-sm-2">
							<!--center><img src="C:\Users\ADMIN\Desktop\MINI PROJECT\Faculty photos\Tirupathi.jpg">
							<a href="C:\Users\ADMIN\Desktop\MINI PROJECT\Faculty details\sukanya.pdf"-->
                                <h5><center>Mr.M.Tirupathi</center></h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>