{% load static %}

<html lang="en">
<head>
  <title>Timetable</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- <link href="style.css" rel="stylesheet" type="text/css"> -->
</head>
<body>
   <div class="container ">
        <div class="wrapper">
                     <br>
	     <br>
	     <br>
                      <br>
          <div class="panel panel-default">
              <div class="panel-heading"> <b><h1><center>TIMETABLES </center></h1></b></div>
	                 <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">

                              <ul type="disc" >
                                <li><p style ="font-size:20px">
                                    <a href="{% static 'Timetable\CSE BE 1-2 Timetable.jpg' %}">BE 1-2 timetable</a>
                                    </p></li>

                                 <li><p style ="font-size:20px">
                                    <a href="{% static 'Timetable\CSE BE 2-1 Timetable.jpg' %}">BE 2-1 timetable</a></p>
		                              </li>
		                              <li><p style ="font-size:20px">
                                      <a href="{% static 'Timetable\CSE BE 2-2 Timetable.jpg' %}">BE 2-2 timetable</a></p>
                                  </li>
                                  <li><p style ="font-size:20px">
                                      <a href="{% static 'Timetable\CSE BE 3-1 Timetable.jpeg' %}">BE 3-1 timetable</a></p>
                                  </li>
                                  <li><p style ="font-size:20px">
                                      <a href="{% static 'Timetable\CSE BE 3-2 Timetable.jpeg' %}">BE 3-2 timetable</a></p>
                                  </li>
                              </ul>
                            </div>
                            <div class="col-sm-4">
                              <img src="{% static 'Images\TT.jpg' %}" alt="attendance">
                            </div>
	                     </div>
                  </div>
          </div>
        </div>
    </div>
</body>
</html>
